# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.backup
.terraform.lock.hcl
tf_output.json
inventory.json

# Crash logs
crash.log
*.log

# CLI config files
.terraformrc
terraform.rc

# Sensitive files
*.pem
*.key

# OS / Editor
.DS_Store
.vscode/
.idea/
